*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Comfortaa', cursive;
}

body button, select, input {
  font-family: 'Roboto', sans-serif;
}

body button {
  font-weight: bold;
  color: white;
  background: black;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  height: 40px;
  cursor: pointer;
  font-size: 15px;
}

body input, select {
  border: 2px solid black;
  height: 32px;
  padding-left: 8px;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
